sudo: true
language: cpp
os: linux
addons:
  apt:
    sources:
    packages:
    - build-essential
    - mpich
    - libmpich-dev
install: true
git:
  depth: 3
jobs:
  include:
    - stage: build
      env:
        - BUILD_MODE=Release
        - CXX11=ON
        - COMPLEX_VALUES=ON
        - PRINT_MESSAGE=OFF
      script:
      - sudo curl -sSL https://cmake.org/files/v3.5/cmake-3.5.2-Linux-x86_64.tar.gz | sudo tar -xzC /opt
      - export PATH=/opt/cmake-3.5.2-Linux-x86_64/bin:$PATH
      - export LD_LIBRARY_PATH=/opt/cmake-3.5.2-Linux-x86_64/lib:$LD_LIBRARY_PATH
      - HOME_DIR=`pwd`
      - BUILD_DIR="${HOME_DIR}/Build"
      - mkdir ${BUILD_DIR}
      - ./Tools/build-test.sh ${HOME_DIR} ${BUILD_DIR} mpicxx mpicc ${BUILD_MODE} ${CXX11} ${COMPLEX_VALUES} ${PRINT_MESSAGE}
    - stage: build
      env:
        - BUILD_MODE=Release
        - CXX11=ON
        - COMPLEX_VALUES=OFF
        - PRINT_MESSAGE=OFF
      script:
      - sudo curl -sSL https://cmake.org/files/v3.5/cmake-3.5.2-Linux-x86_64.tar.gz | sudo tar -xzC /opt
      - export PATH=/opt/cmake-3.5.2-Linux-x86_64/bin:$PATH
      - export LD_LIBRARY_PATH=/opt/cmake-3.5.2-Linux-x86_64/lib:$LD_LIBRARY_PATH
      - HOME_DIR=`pwd`
      - BUILD_DIR="${HOME_DIR}/Build"
      - mkdir ${BUILD_DIR}
      - ./Tools/build-test.sh ${HOME_DIR} ${BUILD_DIR} mpicxx mpicc ${BUILD_MODE} ${CXX11} ${COMPLEX_VALUES} ${PRINT_MESSAGE}
    - stage: build
      env:
        - BUILD_MODE=Release
        - CXX11=OFF
        - COMPLEX_VALUES=ON
        - PRINT_MESSAGE=OFF
      script:
      - sudo curl -sSL https://cmake.org/files/v3.5/cmake-3.5.2-Linux-x86_64.tar.gz | sudo tar -xzC /opt
      - export PATH=/opt/cmake-3.5.2-Linux-x86_64/bin:$PATH
      - export LD_LIBRARY_PATH=/opt/cmake-3.5.2-Linux-x86_64/lib:$LD_LIBRARY_PATH
      - HOME_DIR=`pwd`
      - BUILD_DIR="${HOME_DIR}/Build"
      - mkdir ${BUILD_DIR}
      - ./Tools/build-test.sh ${HOME_DIR} ${BUILD_DIR} mpicxx mpicc ${BUILD_MODE} ${CXX11} ${COMPLEX_VALUES} ${PRINT_MESSAGE}
    - stage: build
      env:
        - BUILD_MODE=Release
        - CXX11=OFF
        - COMPLEX_VALUES=OFF
        - PRINT_MESSAGE=OFF
      script:
      - sudo curl -sSL https://cmake.org/files/v3.5/cmake-3.5.2-Linux-x86_64.tar.gz | sudo tar -xzC /opt
      - export PATH=/opt/cmake-3.5.2-Linux-x86_64/bin:$PATH
      - export LD_LIBRARY_PATH=/opt/cmake-3.5.2-Linux-x86_64/lib:$LD_LIBRARY_PATH
      - HOME_DIR=`pwd`
      - BUILD_DIR="${HOME_DIR}/Build"
      - mkdir ${BUILD_DIR}
      - ./Tools/build-test.sh ${HOME_DIR} ${BUILD_DIR} mpicxx mpicc ${BUILD_MODE} ${CXX11} ${COMPLEX_VALUES} ${PRINT_MESSAGE}

    - stage: build
      env:
        - BUILD_MODE=Release
        - CXX11=ON
        - COMPLEX_VALUES=ON
        - PRINT_MESSAGE=ON
      script:
      - sudo curl -sSL https://cmake.org/files/v3.5/cmake-3.5.2-Linux-x86_64.tar.gz | sudo tar -xzC /opt
      - export PATH=/opt/cmake-3.5.2-Linux-x86_64/bin:$PATH
      - export LD_LIBRARY_PATH=/opt/cmake-3.5.2-Linux-x86_64/lib:$LD_LIBRARY_PATH
      - HOME_DIR=`pwd`
      - BUILD_DIR="${HOME_DIR}/Build"
      - mkdir ${BUILD_DIR}
      - ./Tools/build-test.sh ${HOME_DIR} ${BUILD_DIR} mpicxx mpicc ${BUILD_MODE} ${CXX11} ${COMPLEX_VALUES} ${PRINT_MESSAGE}
    - stage: build
      env:
        - BUILD_MODE=Release
        - CXX11=ON
        - COMPLEX_VALUES=OFF
        - PRINT_MESSAGE=ON
      script:
      - sudo curl -sSL https://cmake.org/files/v3.5/cmake-3.5.2-Linux-x86_64.tar.gz | sudo tar -xzC /opt
      - export PATH=/opt/cmake-3.5.2-Linux-x86_64/bin:$PATH
      - export LD_LIBRARY_PATH=/opt/cmake-3.5.2-Linux-x86_64/lib:$LD_LIBRARY_PATH
      - HOME_DIR=`pwd`
      - BUILD_DIR="${HOME_DIR}/Build"
      - mkdir ${BUILD_DIR}
      - ./Tools/build-test.sh ${HOME_DIR} ${BUILD_DIR} mpicxx mpicc ${BUILD_MODE} ${CXX11} ${COMPLEX_VALUES} ${PRINT_MESSAGE}
    - stage: build
      env:
        - BUILD_MODE=Release
        - CXX11=OFF
        - COMPLEX_VALUES=ON
        - PRINT_MESSAGE=ON
      script:
      - sudo curl -sSL https://cmake.org/files/v3.5/cmake-3.5.2-Linux-x86_64.tar.gz | sudo tar -xzC /opt
      - export PATH=/opt/cmake-3.5.2-Linux-x86_64/bin:$PATH
      - export LD_LIBRARY_PATH=/opt/cmake-3.5.2-Linux-x86_64/lib:$LD_LIBRARY_PATH
      - HOME_DIR=`pwd`
      - BUILD_DIR="${HOME_DIR}/Build"
      - mkdir ${BUILD_DIR}
      - ./Tools/build-test.sh ${HOME_DIR} ${BUILD_DIR} mpicxx mpicc ${BUILD_MODE} ${CXX11} ${COMPLEX_VALUES} ${PRINT_MESSAGE}
    - stage: build
      env:
        - BUILD_MODE=Release
        - CXX11=OFF
        - COMPLEX_VALUES=OFF
        - PRINT_MESSAGE=ON
      script:
      - sudo curl -sSL https://cmake.org/files/v3.5/cmake-3.5.2-Linux-x86_64.tar.gz | sudo tar -xzC /opt
      - export PATH=/opt/cmake-3.5.2-Linux-x86_64/bin:$PATH
      - export LD_LIBRARY_PATH=/opt/cmake-3.5.2-Linux-x86_64/lib:$LD_LIBRARY_PATH
      - HOME_DIR=`pwd`
      - BUILD_DIR="${HOME_DIR}/Build"
      - mkdir ${BUILD_DIR}
      - ./Tools/build-test.sh ${HOME_DIR} ${BUILD_DIR} mpicxx mpicc ${BUILD_MODE} ${CXX11} ${COMPLEX_VALUES} ${PRINT_MESSAGE}

    - stage: build
      env:
        - BUILD_MODE=ReleaseWithAsserts
        - CXX11=ON
        - COMPLEX_VALUES=ON
        - PRINT_MESSAGE=OFF
      script:
      - sudo curl -sSL https://cmake.org/files/v3.5/cmake-3.5.2-Linux-x86_64.tar.gz | sudo tar -xzC /opt
      - export PATH=/opt/cmake-3.5.2-Linux-x86_64/bin:$PATH
      - export LD_LIBRARY_PATH=/opt/cmake-3.5.2-Linux-x86_64/lib:$LD_LIBRARY_PATH
      - HOME_DIR=`pwd`
      - BUILD_DIR="${HOME_DIR}/Build"
      - mkdir ${BUILD_DIR}
      - ./Tools/build-test.sh ${HOME_DIR} ${BUILD_DIR} mpicxx mpicc ${BUILD_MODE} ${CXX11} ${COMPLEX_VALUES} ${PRINT_MESSAGE}
    - stage: build
      env:
        - BUILD_MODE=ReleaseWithAsserts
        - CXX11=ON
        - COMPLEX_VALUES=OFF
        - PRINT_MESSAGE=OFF
      script:
      - sudo curl -sSL https://cmake.org/files/v3.5/cmake-3.5.2-Linux-x86_64.tar.gz | sudo tar -xzC /opt
      - export PATH=/opt/cmake-3.5.2-Linux-x86_64/bin:$PATH
      - export LD_LIBRARY_PATH=/opt/cmake-3.5.2-Linux-x86_64/lib:$LD_LIBRARY_PATH
      - HOME_DIR=`pwd`
      - BUILD_DIR="${HOME_DIR}/Build"
      - mkdir ${BUILD_DIR}
      - ./Tools/build-test.sh ${HOME_DIR} ${BUILD_DIR} mpicxx mpicc ${BUILD_MODE} ${CXX11} ${COMPLEX_VALUES} ${PRINT_MESSAGE}
    - stage: build
      env:
        - BUILD_MODE=ReleaseWithAsserts
        - CXX11=OFF
        - COMPLEX_VALUES=ON
        - PRINT_MESSAGE=OFF
      script:
      - sudo curl -sSL https://cmake.org/files/v3.5/cmake-3.5.2-Linux-x86_64.tar.gz | sudo tar -xzC /opt
      - export PATH=/opt/cmake-3.5.2-Linux-x86_64/bin:$PATH
      - export LD_LIBRARY_PATH=/opt/cmake-3.5.2-Linux-x86_64/lib:$LD_LIBRARY_PATH
      - HOME_DIR=`pwd`
      - BUILD_DIR="${HOME_DIR}/Build"
      - mkdir ${BUILD_DIR}
      - ./Tools/build-test.sh ${HOME_DIR} ${BUILD_DIR} mpicxx mpicc ${BUILD_MODE} ${CXX11} ${COMPLEX_VALUES} ${PRINT_MESSAGE}
    - stage: build
      env:
        - BUILD_MODE=ReleaseWithAsserts
        - CXX11=OFF
        - COMPLEX_VALUES=OFF
        - PRINT_MESSAGE=OFF
      script:
      - sudo curl -sSL https://cmake.org/files/v3.5/cmake-3.5.2-Linux-x86_64.tar.gz | sudo tar -xzC /opt
      - export PATH=/opt/cmake-3.5.2-Linux-x86_64/bin:$PATH
      - export LD_LIBRARY_PATH=/opt/cmake-3.5.2-Linux-x86_64/lib:$LD_LIBRARY_PATH
      - HOME_DIR=`pwd`
      - BUILD_DIR="${HOME_DIR}/Build"
      - mkdir ${BUILD_DIR}
      - ./Tools/build-test.sh ${HOME_DIR} ${BUILD_DIR} mpicxx mpicc ${BUILD_MODE} ${CXX11} ${COMPLEX_VALUES} ${PRINT_MESSAGE}

    - stage: build
      env:
        - BUILD_MODE=ReleaseWithAsserts
        - CXX11=ON
        - COMPLEX_VALUES=ON
        - PRINT_MESSAGE=ON
      script:
      - sudo curl -sSL https://cmake.org/files/v3.5/cmake-3.5.2-Linux-x86_64.tar.gz | sudo tar -xzC /opt
      - export PATH=/opt/cmake-3.5.2-Linux-x86_64/bin:$PATH
      - export LD_LIBRARY_PATH=/opt/cmake-3.5.2-Linux-x86_64/lib:$LD_LIBRARY_PATH
      - HOME_DIR=`pwd`
      - BUILD_DIR="${HOME_DIR}/Build"
      - mkdir ${BUILD_DIR}
      - ./Tools/build-test.sh ${HOME_DIR} ${BUILD_DIR} mpicxx mpicc ${BUILD_MODE} ${CXX11} ${COMPLEX_VALUES} ${PRINT_MESSAGE}
    - stage: build
      env:
        - BUILD_MODE=ReleaseWithAsserts
        - CXX11=ON
        - COMPLEX_VALUES=OFF
        - PRINT_MESSAGE=ON
      script:
      - sudo curl -sSL https://cmake.org/files/v3.5/cmake-3.5.2-Linux-x86_64.tar.gz | sudo tar -xzC /opt
      - export PATH=/opt/cmake-3.5.2-Linux-x86_64/bin:$PATH
      - export LD_LIBRARY_PATH=/opt/cmake-3.5.2-Linux-x86_64/lib:$LD_LIBRARY_PATH
      - HOME_DIR=`pwd`
      - BUILD_DIR="${HOME_DIR}/Build"
      - mkdir ${BUILD_DIR}
      - ./Tools/build-test.sh ${HOME_DIR} ${BUILD_DIR} mpicxx mpicc ${BUILD_MODE} ${CXX11} ${COMPLEX_VALUES} ${PRINT_MESSAGE}
    - stage: build
      env:
        - BUILD_MODE=ReleaseWithAsserts
        - CXX11=OFF
        - COMPLEX_VALUES=ON
        - PRINT_MESSAGE=ON
      script:
      - sudo curl -sSL https://cmake.org/files/v3.5/cmake-3.5.2-Linux-x86_64.tar.gz | sudo tar -xzC /opt
      - export PATH=/opt/cmake-3.5.2-Linux-x86_64/bin:$PATH
      - export LD_LIBRARY_PATH=/opt/cmake-3.5.2-Linux-x86_64/lib:$LD_LIBRARY_PATH
      - HOME_DIR=`pwd`
      - BUILD_DIR="${HOME_DIR}/Build"
      - mkdir ${BUILD_DIR}
      - ./Tools/build-test.sh ${HOME_DIR} ${BUILD_DIR} mpicxx mpicc ${BUILD_MODE} ${CXX11} ${COMPLEX_VALUES} ${PRINT_MESSAGE}
    - stage: build
      env:
        - BUILD_MODE=ReleaseWithAsserts
        - CXX11=OFF
        - COMPLEX_VALUES=OFF
        - PRINT_MESSAGE=ON
      script:
      - sudo curl -sSL https://cmake.org/files/v3.5/cmake-3.5.2-Linux-x86_64.tar.gz | sudo tar -xzC /opt
      - export PATH=/opt/cmake-3.5.2-Linux-x86_64/bin:$PATH
      - export LD_LIBRARY_PATH=/opt/cmake-3.5.2-Linux-x86_64/lib:$LD_LIBRARY_PATH
      - HOME_DIR=`pwd`
      - BUILD_DIR="${HOME_DIR}/Build"
      - mkdir ${BUILD_DIR}
      - ./Tools/build-test.sh ${HOME_DIR} ${BUILD_DIR} mpicxx mpicc ${BUILD_MODE} ${CXX11} ${COMPLEX_VALUES} ${PRINT_MESSAGE}

    - stage: build
      env:
        - BUILD_MODE=Debug
        - CXX11=ON
        - COMPLEX_VALUES=ON
        - PRINT_MESSAGE=OFF
      script:
      - sudo curl -sSL https://cmake.org/files/v3.5/cmake-3.5.2-Linux-x86_64.tar.gz | sudo tar -xzC /opt
      - export PATH=/opt/cmake-3.5.2-Linux-x86_64/bin:$PATH
      - export LD_LIBRARY_PATH=/opt/cmake-3.5.2-Linux-x86_64/lib:$LD_LIBRARY_PATH
      - HOME_DIR=`pwd`
      - BUILD_DIR="${HOME_DIR}/Build"
      - mkdir ${BUILD_DIR}
      - ./Tools/build-test.sh ${HOME_DIR} ${BUILD_DIR} mpicxx mpicc ${BUILD_MODE} ${CXX11} ${COMPLEX_VALUES} ${PRINT_MESSAGE}
    - stage: build
      env:
        - BUILD_MODE=Debug
        - CXX11=ON
        - COMPLEX_VALUES=OFF
        - PRINT_MESSAGE=OFF
      script:
      - sudo curl -sSL https://cmake.org/files/v3.5/cmake-3.5.2-Linux-x86_64.tar.gz | sudo tar -xzC /opt
      - export PATH=/opt/cmake-3.5.2-Linux-x86_64/bin:$PATH
      - export LD_LIBRARY_PATH=/opt/cmake-3.5.2-Linux-x86_64/lib:$LD_LIBRARY_PATH
      - HOME_DIR=`pwd`
      - BUILD_DIR="${HOME_DIR}/Build"
      - mkdir ${BUILD_DIR}
      - ./Tools/build-test.sh ${HOME_DIR} ${BUILD_DIR} mpicxx mpicc ${BUILD_MODE} ${CXX11} ${COMPLEX_VALUES} ${PRINT_MESSAGE}
    - stage: build
      env:
        - BUILD_MODE=Debug
        - CXX11=OFF
        - COMPLEX_VALUES=ON
        - PRINT_MESSAGE=OFF
      script:
      - sudo curl -sSL https://cmake.org/files/v3.5/cmake-3.5.2-Linux-x86_64.tar.gz | sudo tar -xzC /opt
      - export PATH=/opt/cmake-3.5.2-Linux-x86_64/bin:$PATH
      - export LD_LIBRARY_PATH=/opt/cmake-3.5.2-Linux-x86_64/lib:$LD_LIBRARY_PATH
      - HOME_DIR=`pwd`
      - BUILD_DIR="${HOME_DIR}/Build"
      - mkdir ${BUILD_DIR}
      - ./Tools/build-test.sh ${HOME_DIR} ${BUILD_DIR} mpicxx mpicc ${BUILD_MODE} ${CXX11} ${COMPLEX_VALUES} ${PRINT_MESSAGE}
    - stage: build
      env:
        - BUILD_MODE=Debug
        - CXX11=OFF
        - COMPLEX_VALUES=OFF
        - PRINT_MESSAGE=OFF
      script:
      - sudo curl -sSL https://cmake.org/files/v3.5/cmake-3.5.2-Linux-x86_64.tar.gz | sudo tar -xzC /opt
      - export PATH=/opt/cmake-3.5.2-Linux-x86_64/bin:$PATH
      - export LD_LIBRARY_PATH=/opt/cmake-3.5.2-Linux-x86_64/lib:$LD_LIBRARY_PATH
      - HOME_DIR=`pwd`
      - BUILD_DIR="${HOME_DIR}/Build"
      - mkdir ${BUILD_DIR}
      - ./Tools/build-test.sh ${HOME_DIR} ${BUILD_DIR} mpicxx mpicc ${BUILD_MODE} ${CXX11} ${COMPLEX_VALUES} ${PRINT_MESSAGE}

    - stage: build
      env:
        - BUILD_MODE=Debug
        - CXX11=ON
        - COMPLEX_VALUES=ON
        - PRINT_MESSAGE=ON
      script:
      - sudo curl -sSL https://cmake.org/files/v3.5/cmake-3.5.2-Linux-x86_64.tar.gz | sudo tar -xzC /opt
      - export PATH=/opt/cmake-3.5.2-Linux-x86_64/bin:$PATH
      - export LD_LIBRARY_PATH=/opt/cmake-3.5.2-Linux-x86_64/lib:$LD_LIBRARY_PATH
      - HOME_DIR=`pwd`
      - BUILD_DIR="${HOME_DIR}/Build"
      - mkdir ${BUILD_DIR}
      - ./Tools/build-test.sh ${HOME_DIR} ${BUILD_DIR} mpicxx mpicc ${BUILD_MODE} ${CXX11} ${COMPLEX_VALUES} ${PRINT_MESSAGE}
    - stage: build
      env:
        - BUILD_MODE=Debug
        - CXX11=ON
        - COMPLEX_VALUES=OFF
        - PRINT_MESSAGE=ON
      script:
      - sudo curl -sSL https://cmake.org/files/v3.5/cmake-3.5.2-Linux-x86_64.tar.gz | sudo tar -xzC /opt
      - export PATH=/opt/cmake-3.5.2-Linux-x86_64/bin:$PATH
      - export LD_LIBRARY_PATH=/opt/cmake-3.5.2-Linux-x86_64/lib:$LD_LIBRARY_PATH
      - HOME_DIR=`pwd`
      - BUILD_DIR="${HOME_DIR}/Build"
      - mkdir ${BUILD_DIR}
      - ./Tools/build-test.sh ${HOME_DIR} ${BUILD_DIR} mpicxx mpicc ${BUILD_MODE} ${CXX11} ${COMPLEX_VALUES} ${PRINT_MESSAGE}
    - stage: build
      env:
        - BUILD_MODE=Debug
        - CXX11=OFF
        - COMPLEX_VALUES=ON
        - PRINT_MESSAGE=ON
      script:
      - sudo curl -sSL https://cmake.org/files/v3.5/cmake-3.5.2-Linux-x86_64.tar.gz | sudo tar -xzC /opt
      - export PATH=/opt/cmake-3.5.2-Linux-x86_64/bin:$PATH
      - export LD_LIBRARY_PATH=/opt/cmake-3.5.2-Linux-x86_64/lib:$LD_LIBRARY_PATH
      - HOME_DIR=`pwd`
      - BUILD_DIR="${HOME_DIR}/Build"
      - mkdir ${BUILD_DIR}
      - ./Tools/build-test.sh ${HOME_DIR} ${BUILD_DIR} mpicxx mpicc ${BUILD_MODE} ${CXX11} ${COMPLEX_VALUES} ${PRINT_MESSAGE}
    - stage: build
      env:
        - BUILD_MODE=Debug
        - CXX11=OFF
        - COMPLEX_VALUES=OFF
        - PRINT_MESSAGE=ON
      script:
      - sudo curl -sSL https://cmake.org/files/v3.5/cmake-3.5.2-Linux-x86_64.tar.gz | sudo tar -xzC /opt
      - export PATH=/opt/cmake-3.5.2-Linux-x86_64/bin:$PATH
      - export LD_LIBRARY_PATH=/opt/cmake-3.5.2-Linux-x86_64/lib:$LD_LIBRARY_PATH
      - HOME_DIR=`pwd`
      - BUILD_DIR="${HOME_DIR}/Build"
      - mkdir ${BUILD_DIR}
      - ./Tools/build-test.sh ${HOME_DIR} ${BUILD_DIR} mpicxx mpicc ${BUILD_MODE} ${CXX11} ${COMPLEX_VALUES} ${PRINT_MESSAGE}

    - stage: unit-tests
      env:
        - PARALLEL_GRID=""
        - CXX11=ON
        - COMPLEX_VALUES=ON
      script:
      - sudo curl -sSL https://cmake.org/files/v3.5/cmake-3.5.2-Linux-x86_64.tar.gz | sudo tar -xzC /opt
      - export PATH=/opt/cmake-3.5.2-Linux-x86_64/bin:$PATH
      - export LD_LIBRARY_PATH=/opt/cmake-3.5.2-Linux-x86_64/lib:$LD_LIBRARY_PATH
      - HOME_DIR=`pwd`
      - BUILD_DIR="${HOME_DIR}/Build"
      - mkdir ${BUILD_DIR}
      - ./Tools/Tests/build-and-run-unit-test-parallel-grid.sh ${HOME_DIR} ${BUILD_DIR} mpicxx mpicc ${CXX11} ${COMPLEX_VALUES}
    - stage: unit-tests
      env:
        - PARALLEL_GRID=""
        - CXX11=ON
        - COMPLEX_VALUES=OFF
      script:
      - sudo curl -sSL https://cmake.org/files/v3.5/cmake-3.5.2-Linux-x86_64.tar.gz | sudo tar -xzC /opt
      - export PATH=/opt/cmake-3.5.2-Linux-x86_64/bin:$PATH
      - export LD_LIBRARY_PATH=/opt/cmake-3.5.2-Linux-x86_64/lib:$LD_LIBRARY_PATH
      - HOME_DIR=`pwd`
      - BUILD_DIR="${HOME_DIR}/Build"
      - mkdir ${BUILD_DIR}
      - ./Tools/Tests/build-and-run-unit-test-parallel-grid.sh ${HOME_DIR} ${BUILD_DIR} mpicxx mpicc ${CXX11} ${COMPLEX_VALUES}
    - stage: unit-tests
      env:
        - PARALLEL_GRID=""
        - CXX11=OFF
        - COMPLEX_VALUES=ON
      script:
      - sudo curl -sSL https://cmake.org/files/v3.5/cmake-3.5.2-Linux-x86_64.tar.gz | sudo tar -xzC /opt
      - export PATH=/opt/cmake-3.5.2-Linux-x86_64/bin:$PATH
      - export LD_LIBRARY_PATH=/opt/cmake-3.5.2-Linux-x86_64/lib:$LD_LIBRARY_PATH
      - HOME_DIR=`pwd`
      - BUILD_DIR="${HOME_DIR}/Build"
      - mkdir ${BUILD_DIR}
      - ./Tools/Tests/build-and-run-unit-test-parallel-grid.sh ${HOME_DIR} ${BUILD_DIR} mpicxx mpicc ${CXX11} ${COMPLEX_VALUES}
    - stage: unit-tests
      env:
        - PARALLEL_GRID=""
        - CXX11=OFF
        - COMPLEX_VALUES=OFF
      script:
      - sudo curl -sSL https://cmake.org/files/v3.5/cmake-3.5.2-Linux-x86_64.tar.gz | sudo tar -xzC /opt
      - export PATH=/opt/cmake-3.5.2-Linux-x86_64/bin:$PATH
      - export LD_LIBRARY_PATH=/opt/cmake-3.5.2-Linux-x86_64/lib:$LD_LIBRARY_PATH
      - HOME_DIR=`pwd`
      - BUILD_DIR="${HOME_DIR}/Build"
      - mkdir ${BUILD_DIR}
      - ./Tools/Tests/build-and-run-unit-test-parallel-grid.sh ${HOME_DIR} ${BUILD_DIR} mpicxx mpicc ${CXX11} ${COMPLEX_VALUES}
    - stage: unit-tests
      env:
        - GRID=""
        - CXX11=ON
      script:
      - sudo curl -sSL https://cmake.org/files/v3.5/cmake-3.5.2-Linux-x86_64.tar.gz | sudo tar -xzC /opt
      - export PATH=/opt/cmake-3.5.2-Linux-x86_64/bin:$PATH
      - export LD_LIBRARY_PATH=/opt/cmake-3.5.2-Linux-x86_64/lib:$LD_LIBRARY_PATH
      - HOME_DIR=`pwd`
      - BUILD_DIR="${HOME_DIR}/Build"
      - mkdir ${BUILD_DIR}
      - ./Tools/Tests/build-and-run-unit-test-grid.sh ${HOME_DIR} ${BUILD_DIR} mpicxx mpicc ${CXX11}
    - stage: unit-tests
      env:
        - GRID=""
        - CXX11=OFF
      script:
      - sudo curl -sSL https://cmake.org/files/v3.5/cmake-3.5.2-Linux-x86_64.tar.gz | sudo tar -xzC /opt
      - export PATH=/opt/cmake-3.5.2-Linux-x86_64/bin:$PATH
      - export LD_LIBRARY_PATH=/opt/cmake-3.5.2-Linux-x86_64/lib:$LD_LIBRARY_PATH
      - HOME_DIR=`pwd`
      - BUILD_DIR="${HOME_DIR}/Build"
      - mkdir ${BUILD_DIR}
      - ./Tools/Tests/build-and-run-unit-test-grid.sh ${HOME_DIR} ${BUILD_DIR} mpicxx mpicc ${CXX11}
    - stage: unit-tests
      env:
        - DUMPERS_LOADERS=""
        - CXX11=ON
      script:
      - sudo curl -sSL https://cmake.org/files/v3.5/cmake-3.5.2-Linux-x86_64.tar.gz | sudo tar -xzC /opt
      - export PATH=/opt/cmake-3.5.2-Linux-x86_64/bin:$PATH
      - export LD_LIBRARY_PATH=/opt/cmake-3.5.2-Linux-x86_64/lib:$LD_LIBRARY_PATH
      - HOME_DIR=`pwd`
      - BUILD_DIR="${HOME_DIR}/Build"
      - mkdir ${BUILD_DIR}
      - ./Tools/Tests/build-and-run-unit-test-dumpers-loaders.sh ${HOME_DIR} ${BUILD_DIR} mpicxx mpicc ${CXX11}
    - stage: unit-tests
      env:
        - DUMPERS_LOADERS=""
        - CXX11=OFF
      script:
      - sudo curl -sSL https://cmake.org/files/v3.5/cmake-3.5.2-Linux-x86_64.tar.gz | sudo tar -xzC /opt
      - export PATH=/opt/cmake-3.5.2-Linux-x86_64/bin:$PATH
      - export LD_LIBRARY_PATH=/opt/cmake-3.5.2-Linux-x86_64/lib:$LD_LIBRARY_PATH
      - HOME_DIR=`pwd`
      - BUILD_DIR="${HOME_DIR}/Build"
      - mkdir ${BUILD_DIR}
      - ./Tools/Tests/build-and-run-unit-test-dumpers-loaders.sh ${HOME_DIR} ${BUILD_DIR} mpicxx mpicc ${CXX11}

    - stage: test-suite
      script:
      - sudo curl -sSL https://cmake.org/files/v3.5/cmake-3.5.2-Linux-x86_64.tar.gz | sudo tar -xzC /opt
      - export PATH=/opt/cmake-3.5.2-Linux-x86_64/bin:$PATH
      - export LD_LIBRARY_PATH=/opt/cmake-3.5.2-Linux-x86_64/lib:$LD_LIBRARY_PATH
      - travis_wait 40 ./Tools/TestSuite/run-testsuite.sh
dist: trusty
